<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="theme-color" content="#fff">
  <style>
    body {
      margin: 0px;
      padding: 0px;
      -webkit-user-select: none;
    }
  </style>
</head>
<!-- DO NOT REMOVE THE INLINE STYLE -->
<body class="fullbleed" unresolved style="">
  <p>Hello Hero</p>
  <div></div><p></p>
</body>
</html>
