<link rel="import" href="../../node_modules/hero-js/src/elements/hero-button.html">

<dom-module id="app-button">
  <template>
    <style>
      p {
        color: #333;
      }
    </style>
    <div id='heroContent'>
      <p id='title'></p>
      <paper-button id='button' on-tap="onTap"></paper-button>
    </div>
  </template>

  <script>

    Polymer({
      is: 'app-button',
      behaviors: [HeroBehavior, HeroButtonBehavior],
      properties: {

      },
      on:function(json){
      }
    });
  </script>

</dom-module>
