<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>协议</title>
    <style>
        * {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        a {
            text-decoration: none;
            color: inherit;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }

        html, body {
            height: 100%;
        }

        body {
            margin: 0;
            color: #4a4a4a;
            font-family: "proxima-nova", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei", "Apple LiGothic Medium", "SimHei", "ST Heiti", "WenQuanYi Zen Hei Sharp";
            font-size: 14px;
            line-height: 1.72222;
            background-color: #fff;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

    </style>
    <style>
        hero-app {
            left: 0;
        }

        .scroller {
            padding: 0 1em; */
            height: 100%;
            /* overflow: scroll; */
            width: 100%;
            box-sizing: border-box;
            position: relative;
            padding-top: 3.5em;
            -webkit-overflow-scrolling: touch;
        }

        .center {
            text-align: center;
        }

        .right {
            text-align: right;
        }

        h3 {
            text-align: center;
        }

        table {
            margin-top: 1em;
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        }

        td {
            height: 4em;
            border: 1px #4a4a4a solid;
        }

        ol {
            padding-left: 0;
        }

        .subol {
            padding-left: 1em;
        }
    </style>
    <style>
        .tabs-scroller {
          overflow-x: auto;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          background: #FFF;
          overflow-y: hidden;
        }

        .tabs {
            display: inline-block;
            margin-left: -1em;
            padding: 1em 0;
            white-space: nowrap;
            color: #4a4a4a;
        }

        .tabs > a {
            display: inline-block;
            margin-left: 1em;
            text-align: center;
        }

        .tabs > a.active {
            position: relative;
            color: #00BC8D;
        }

        .tabs > a.active::after {
            content: '';
            position: absolute;
            left: 0; right: 0; bottom: -1em;
            height: 2px;
            background: #00BC8D;
        }
        .main {
            padding: 1em 1em 0;
        }
        .main section {
            display: none;
        }

        .main section a {
            color: #00BC8D;
        }

        .main section.active {
            display: block;
        }

        .license-owner {
            margin: 0;
        }

        .agent-table td {
            width: 25%;
            color: #333;
            font-weight: bold;
        }

        .agent-footer {
            text-align: right;
            padding-right: 30%;
        }

        .bxjk-th td {
            background: #f8fbf9;
        }
    </style>
    <style>
        ol {
            list-style: none;
        }

        .counter-ol {
            padding-left: 0;
            counter-reset: section;
            list-style: none;
        }

        .counter-ol h4 span {
            position: relative;
            top: -1px;
        }

        .counter-ol li {
            display: table;
        }

        .counter-ol li::before {
            display: table-cell;
            padding-right: .5em;
            counter-increment: section;
            content: counters(section, '.') '';
        }
    </style>
</head>
<body>
<div class="scroller">
    <div class="tabs-scroller">
        <nav class="tabs">
            <a class="active" href="#委托代扣授权书">委托代扣授权书</a>
            <a href="#点融网借款人服务协议">点融网借款人服务协议</a>
            <a href="#借款协议">借款协议</a>
            <a href="#借款项目发布申请批准通知书">借款项目发布申请批准通知书</a>
            <a href="#承诺书">承诺书</a>
            <a href="#系统实时匹配交易服务协议">系统实时匹配交易服务协议</a>
        </nav>
    </div>
    <div class="main">
        <section class="license active">
            <h3 class="license-title">委托代扣款授权书</h3>
            <h6 class="license-owner">至：上海点荣金融信息服务有限责任公司（以下简称：点荣金融）</h6>
            <table class="agent-table" cellspacing="0">
                <tbody>
                <tr>
                    <td colspan="4">客户信息</td>
                </tr>
                <tr>
                    <td>客户名称</td>
                    <td></td>
                    <td>借款协议编号</td>
                    <td></td>
                </tr>
                </tbody>
            </table>

            <table class="agent-table" cellspacing="0">
                <tbody>
                <tr>
                    <td colspan="4">授权账户信息</td>
                </tr>
                <tr>
                    <td>开户名</td>
                    <td></td>
                    <td>持卡人手机号</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">持卡人(个人账户) / 法定代表人(企业账户)身份证号</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td>银行名</td>
                    <td></td>
                    <td>开户行</td>
                    <td></td>
                </tr>
                <tr>
                    <td>账号</td>
                    <td></td>
                    <td>扣款款项</td>
                    <td>根据借款协议约定扣款</td>
                </tr>
                </tbody>
            </table>

            <ol class="counter-ol">
                <li>
                    本人/本司授权点荣金融通过其指定的具有资质的第三方支付机构，从本人/本司上述指定的银行账户中将等额于《借款协议》约定的应偿款项的金额划付至点荣金融的银行存管账户。
                </li>
                <li>
                    本人/本司保证以上授权账户信息中的身份及所提供的信息真实、有效、准确及合法，因本人/本司身份或所提供信息错误而引起的法律后果及损失，由本人/本司自行承担。
                </li>
                <li>
                    本人/本司保证按照《借款协议》约定提前将足额应偿金额存入上述银行卡内，确保点荣金融根据本人/本司授权顺利完成扣款转账手续；由于挂失、账户冻结、金额不足等原因造成扣款失败而导致本人/本司损失的，由本人/本司自行承担。
                </li>
                <li>
                    本人/本司变更付款授权账户时，至少应提前于《借款协议》约定还款日前一个工作日书面通知点荣金融，并按更换后的账户信息重新签署授权书。因本人/本司未及时办理变更手续而导致的结果，由本人/本司承担。
                </li>
                <li>
                    本授权书自签署之日起开始生效，有效期等同于借款偿还完毕之日止。扣款款项指客户每个还款周期应付款总额，但如果客户发生逾期，扣款款项则是指客户每个还款周期应付款总额加上罚息金额及违约金金额。如客户提前还款，扣款款项则指客户每个还款周期应付款总额加上提前还款违约金金额
                </li>
            </ol>
            <footer class="agent-footer">
                <p>签字(企业公章)</p>
                <p>签署日期</p>
            </footer>
        </section>
        <section>
            <h4>重要须知：</h4>
            <ol>
                <li>
                    “点融网”平台（<a href="https://www.dianrong.com">www.dianrong.com</a>，包括以APP形式提供的操作环境，以下简称“点融网”）由上海点荣金融信息服务有限责任公司负责运营。本服务协议双方为已在点融网注册的借款人用户（以下简称“借款人”或“您”）与点融网，适用于借款人使用点融网平台服务及参与交易的全部活动。您在遵守本协议的同时，也应当遵守《点融网注册协议》的规定。
                </li>
                <li>
                    本协议所述借款人包括通过点融网以直接借款及/或债权转让的方式获得资金的自然人、法人及其他组织。
                </li>
                <li>
                    本协议所述债务人系指根据生效的借款协议或合同约定负有偿还或支付义务的自然人、法人及其他组织。
                </li>
                <li>
                    借款人根据《点融网注册协议》并通过身份验证完成注册后，通过其在点融网注册的账户获取点融网网站的登录权限，开通点融网网络借贷信息居间服务。在此之前，请您务必认真、仔细阅读并充分理解本服务协议全部内容。您在点融网页面点击勾选已阅读并确认接受本服务协议的行为，即表示您在充分阅读并理解本协议的内容基础上确认接受并签署本协议，且您同意接受本协议的全部约定内容，其中包括但不限于与本协议有关的各项规则及点融网所包含的<b>已经发布的或者将来发布的各类声明、规则、说明等。如您不同意或者不接受上述内容，请您不要开通及使用点融网提供的服务。</b>
                </li>
                <li>
                    您在此确认知悉并同意点融网有权根据需要不时修改、增加或删减本服务协议内容。点融网将采用在网站公示的方式通知该等修改、增加或删减，一经网站公示，即视为已经通知所有借款人。若您对本服务协议及各类规则变更后继续使用点融网服务的，则视为您已仔细认真阅读、充分理解并同意接受修改后的服务协议及各类规则，且承诺遵守修改后的服务协议及各类规则内容，并承担相应的义务和责任。若您不同意修改后的服务协议及各类规则内容，应立即停止使用点融网服务，点融网保留中止、终止或限制您继续使用点融网服务的权利，但该等终止、中止或限制行为并不豁免您在点融网已经进行的交易下所应承担的责任和义务，点融网不承担任何因此导致的法律责任。点融网建议您在使用点融网之前阅读本协议及平台的公告。如果本协议中任何一条被视为废止、无效或因任何理由不可执行，该条应视为可分的且并不影响任何其余条款的有效性和可执行性。
                </li>
            </ol>
            <ol class="counter-ol">
                <li>
                    <h4><span>声明</span></h4>
                    <ol class="counter-ol ol1">
                        <li>
                            借款人在此保证并承诺其系符合点融网要求的实名注册用户，且根据中华人民共和国法律具有签订和履行本协议所必须的民事权利能力和行为能力，能独立承担民事责任的自然人或法人。
                        </li>
                        <li>
                            借款人在此保证并承诺其融资项目的真实性、合法性，且借款用途不得为投资股票、场外配资、期货合约、结构化产品及其他衍生品等高风险融资。
                        </li>
                        <li>
                            借款人在此确认其知晓并同意其在点融网发起借款的任一单一融资项目募集期最长不超过20个工作日。
                        </li>
                        <li>
                            借款人在此保证并承诺其不得虚构、夸大融资项目的真实性、收益前景，隐瞒融资项目的瑕疵及风险，以歧义性语言或其他欺骗性手段等进行虚假片面宣传或促销等，捏造、散布虚假信息或不完整信息损害他人商业信誉，误导出借人。
                        </li>
                        <li>
                            借款人在此保证并承诺其不得通过故意变换身份、虚构融资项目、夸大融资项目收益前景等形式进行欺诈借款。
                        </li>
                        <li>
                            借款人在此保证并承诺其向点融网提供其在所有网络借贷信息中介机构未偿还的借款信息，并将就该等信息的不时更新及时通知点融网。因借款人拒绝提供相关借款信息或隐瞒、遗漏、误报、或未及时告知该等借款信息引致的一切法律后果，均应当由借款人自行承担，点融网对此不承担法律责任。
                        </li>
                        <li>
                            借款人在此保证并承诺其不得同时通过多个网络借贷信息中介机构，或者通过变换项目名称、对项目内容进行非实质性变更等方式，就同一融资项目进行重复融资；亦不得在网络借贷信息中介机构以外的公开场所发布同一融资项目的信息。
                        </li>
                        <li>
                            借款人在此保证并承诺其已经阅读并了解包括但不限于《网络借贷信息中介机构业务活动管理办法》等在内的的相关法律法规，并承诺其不得从事法律法规和网络借贷有关监管规定禁止从事的其他活动。
                        </li>
                        <li>
                            借款人在了解并接受点融网所公布的注册协议、隐私规则等所约定的条款和条件后，在自愿、平等、合法的基础上与点融网就本协议达成一致。
                        </li>
                        <li>
                            借款人在本协议项下的意思表示真实，所提供的与本协议有关的一切文件、资料、信息均是合法、真实、准确、完整及最新的。如因提供任何错误、虚假或不完整的资料导致点融网无法提供本协议约定的服务或者提供服务时存有瑕疵的，则点融网不承担任何责任，所产生的后果均由借款人承担。
                        </li>
                        <li>
                            借款人在此承诺并保证其将配合点融网及出借人对融资项目有关信息的调查核实，并保证提供的信息真实、准确、完整。如因借款人提供任何错误、虚假或不完整的融资信息导致出借人任何损失，应当由借款人承担。
                        </li>
                        <li>
                            借款人在此确认其知晓并保证，若借款人为自然人借款人，其在点融网举借债务的借款余额上限不超过人民币20万元，在点融网以及其他所有网络借贷信息中介机构平台举借债务的合计借款余额上限不超过人民币100万元；若借款人为法人或其他组织，其在点融网举借债务的借款余额上限不超过人民币100万元，在点融网以及其他所有网络借贷信息中介机构平台举借债务的合计借款余额上限不超过人民币500万元。
                        </li>
                        <li>
                            借款人通过账户名和密码操作其注册账户，任何利用该注册账户所进行的操作均视为借款人的本人操作，且具有不可逆转性，因操作所产生的电子信息记录和痕迹均为借款人行为的有效凭证，借款人不得以任何理由要求取消或变更该等操作，且由借款人本人承担由此产生的全部责任。
                        </li>
                        <li>
                            除非本协议另有约定，在本协议所述的点融网提供的居间服务中凡是需要获得借款人授权的，借款人点击确认已阅读并接受本协议的行为即视为借款人对点融网进行了不可撤销授权，无需另行签署委托文件。
                        </li>
                        <li>
                            借款人在此确认并同意，若借款人提供任何不真实、不准确、不完整或过时的身份信息或证明文件，以至影响点融网履行反洗钱等法定义务的，点融网有权中止或终止向借款人提供服务，并拒绝借款人现在或未来使用点融网提供的任何服务，对此点融网不承担任何责任。
                        </li>
                    </ol>
                </li>
                <li>
                    <h4><span>点融网的服务</span></h4>
                    <ol class="counter-ol">
                        <li>
                            因借款人希望通过点融网发布融资需求获得借款，需要点融网提供相应的居间服务，具体服务内容由点融网根据实际情况向借款人提供。
                        </li>
                        <li>
                            点融网将依据本协议的约定为借款人提供以下居间服务：
                            <ol class="counter-ol">
                                <li>
                                    账户注册服务：根据借款人提供的申请及注册信息为借款人在点融网开立借款人注册账户，该注册账户系借款人在点融网的唯一有效的借款人账户，点融网将根据对借款人提交的身份证号码、银行卡以及其他注册材料所进行的认证和审查结果来决定是否为借款人提供相应注册服务。
                                </li>
                                <li>
                                    信息发布服务：在对借款人提交的信息材料进行必要审核的前提下，为借款人通过点融网发布借款项目信息。任一单一借款项目的募集期最长不超过20个工作日。
                                </li>
                                <li>
                                    信息匹配服务：点融网将以借款项目与出借人设定的出借标准，按照匹配指数及时间顺序，完成投融资需求的匹配和撮合服务。
                                </li>
                                <li>
                                    账户管理服务：借款人通过银行或拥有相关资质的第三方机构（以下统称“支付机构”）实现接收出借人指定账户划付的出借资金，以及向出借人履行还款的服务。同时，借款人通过点融网与其他注册用户达成的所有交易项下资金的充值、查询、划转及提现的需求均系基于借款人的合法授权通过支付机构实现。因支付机构的原因导致款项到账延迟、错误、限额等情形点融网不承担责任，
                                    由此所产生的法律后果均由借款人承担。
                                </li>
                                <li>
                                    交易文本及信息查询与管理服务：借款人在点融网通过点击确认或类似方式签署电子形式的交易协议，点融网根据借款人输入的注册用户名和密码为借款人提供协议查询、下载等服务，但是交易协议的最终文本以点融网的后台记录为准。
                                <li>
                                    还款提醒及通知服务：还款日前向借款人注册时预留的电话、邮箱或邮寄地址中以本协议第6条列明的任一通知方式发送还款提醒通知。如借款人通过点融网申请提前还款的，点融网在收到提前还款申请之日起5个工作日内与借款人确定提前还款的具体情况并通知出借人。
                                </li>
                                <li>
                                    借款人履约互保准备金账户管理服务：点融网同意接受借款人委托，按照《借款人履约互保准备金规则》管理履约互保准备金账户及账户内准备金。
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <h4><span>居间服务费用</span></h4>
                    <ol class="counter-ol">
                        <li>
                            借款人同意向点融网支付居间服务费用，具体费用标准及支付方式详见《点融网借款人费用表》。
                        </li>
                        <li>
                            借款人同意在借款成功时按照《点融网借款人费用表》所列居间服务费标准向点融网支付居间服务费，并委托居间服务方在借款成功时从借款本金中直接扣除。
                        </li>
                        <li>
                            居间服务费在前述条款约定的情况下借款人即应全额支付。其中，申请审批费不因借款人提前还款等任何情形出现而被扣减、退回或免除，但账户管理费应按实际借款期限计算。借款人付清本协议及《借款协议》、《债权转让协议》约定的应偿本金及利息等费用后，点融网将在七个工作日内将借款人已交但尚未使用的账户管理费退还至借款人在点融网注册的账户内。
                        </li>
                    </ol>
                </li>
                <li>
                    <h4><span>逾期处理及违约处理</span></h4>
                    <ol class="counter-ol">
                        <li>
                            若借款人逾期支付任何一期还款，点融网即有权将借款人计入黑名单，并通过点融网黑名单公示包括借款人姓名、身份证号码、联系方式、及逾期记录等情况。同时，点融网有权将借款人的逾期记录通报行业协会或相关合作方，以计入行业协会或其他合作方建立并公示的信用记录以及国家和地方的公民征信系统；一切相关法律责任及后果概由借款人自负，与点融网无涉。
                        </li>
                        <li>

                            若借款人逾期支付任何一期还款，或借款人违反相关协议约定及承诺、或借款人出现两次或两次以上拒绝接听电话或拒收书面催款通知，或无论以何种方式拒绝承认欠款事实等恶意行为，经点融网确认，点融网可将借款人违约失信的相关信息及借款人其他信息通过互联网金融协会等行业组织、用人单位、公安机关、检查机关及司法机关等披露，并有权将借款人提交或点融网自行收集的借款人的个人资料和信息与互联网金融协会等行业组织进行数据共享，以便点融网和第三方催收逾期借款及对用户的其他申请进行审核之用，由此造成的损失，点融网不承担任何责任。
                        </li>
                        <li>
                            为便于通过法律程序集中维护出借人权益，在相关协议中均约定了如下相关条款或类似条款内容：
                            <ol class="third-num-ol">
                                <li>

                                    “出借人同意在其权益受到实质损害时（包括但不限于借款人逾期还款、借款人违反协议约定及/或承诺、债权转让方违反协议约定及/或承诺、担保方未履行担保义务及/或违反协议约定或承诺、其他责任方违反相关协议约定或法律法规及部门规章之规定使得出借人遭受实质损害等），将本协议项下全部债权无偿且无条件自动转让给居间服务方，由居间服务方统一向责任方（包括但不限于借款人、债权转让方、担保方及其他责任方等）进行追索，并委托居间服务方向责任方发送债权转让通知或其他相关通知材料。”
                                </li>
                                <li>
                                    借款人在此明确承诺：其完全知晓、理解上述条款内容，并表示接受及认可，借款人不会以任何理由对居间服务方作为债权受让方的主体资格进行任何质疑或抗辩。
                                </li>
                                <li>

                                    借款人进一步确认：即使逾期债权被出借人风险互助备用金账户资金或借款人履约互保准备金账户资金进行偿付，逾期债权及相关权利仍由原出借人享有及行使，为便于进行债权的集中追索，原出借人仍有权将债权转让给居间服务方或其他任何第三方，。借款人不会就此提出任何质疑及抗辩。
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <h4><span>不保证及责任限制</span></h4>
                    <ol class="counter-ol">
                        <li>

                            对于点融网所公示的交易信息而言，点融网并不是特定交易的参与方，点融网仅根据交易参与方提供的信息进行公示，并不对信息本身的真实性、合法性、有效性、准确性进行严格审核。点融网在此声明，您与交易对手之间基于交易产生的任何纠纷，包括但不限于：交易申请、交易确认、投资本金和投资收益支付等纠纷，与点融网没有任何法律上或合同上的关联，除非相关协议中另有明确约定。
                        </li>
                        <li>

                            点融网提供的服务不含任何明示、暗示的，对任何注册用户、任何交易的真实性、准确性、可靠性、有效性、完整性等的任何保证和承诺，您需根据自身风险承受能力，衡量点融网披露的交易内容及交易对方的真实性、可靠性、有效性、完整性，您因此选择使用点融网提供的服务、参与的交易等而产生的直接或间接损失均由您自行承担，包括但不限于资金损失、利润损失、营业中断等。点融网及其股东、创始人、全体员工、代理人、关联公司、子公司、分公司均不对以上损失承担任何责任。
                        </li>
                        <li>

                            基于互联网的特殊性，点融网无法保证点融网的服务不会中断，对于包括但不限于点融网及相关第三方的设备、系统存在缺陷，计算机发生故障、遭到病毒、黑客攻击或者发生地震、海啸等不可抗力而造成服务中断或因此给您造成的损失，点融网不承担任何责任，有关损失由您自己承担。
                        </li>
                        <li>

                            点融网资金相关的服务均由支付机构提供，注册用户应依照支付机构规则进行相关账户的开设和使用，您有义务妥善保管支付机构的账户及密码并采取合理的措施保护资产安全，点融网无法保证提供资金相关服务的支付机构的服务内容和质量，亦无法保证您与支付机构之间协议事项的无瑕疵执行，如因您未能尽到审慎保管义务或支付机构原因造成交易不能实现甚至资产损失，点融网不承担任何责任，由相关责任方承担。
                        </li>
                        <li>
                            在任何情况下，点融网对借款人承担的违约赔偿（如有）总额不超过发生违约行为当次根据交易协议约定应向借款人收取的居间服务费用总额。
                        </li>
                    </ol>
                </li>
                <li>
                    <h4><span>个人信息的使用</span></h4>
                    <ol class="counter-ol">
                        <li>

                            点融网对于您提供的、点融网自行收集到的、经认证的个人信息将根据通过点融网平台因交易生成的一系列文件约定予以保护、使用或者披露。但若您逾期支付任何一期还款，点融网即有权将您计入黑名单，并通过点融网黑名单公示包括您的姓名、身份证号码、联系方式、及逾期记录等情况。同时，点融网有权将您的逾期记录通报行业协会或相关合作方，以计入行业协会或其他合作方建立并公示的信用记录以及国家和地方的公民征信系统；一切相关法律责任及后果概由您自负。
                        </li>
                        <li>
                            您同意点融网在业务运营中使用您的信息，包括但不限于：
                            <ol class="third-num-ol">
                                <li>
                                    出于提供服务的需要在点融网公示您的相关信息；
                                </li>
                                <li>
                                    向点融网的合作机构（该合作机构仅限于点融网为了完成拟向您提供的服务而合作的机构）提供您的信息；
                                </li>
                                <li>
                                    由人工或自动程序对您的信息进行评估、分类、研究；
                                </li>
                                <li>
                                    使用您的信息以改进点融网的推广；
                                </li>
                                <li>
                                    使用您提供的联系方式与您联络并向您传递有关业务和管理方面的信息；
                                </li>
                                <li>
                                    用于配合有权机关或机构报送或调取。
                                </li>
                            </ol>
                        </li>
                        <li>
                            <b>您同意并授权点融网将您在账户注册和使用点融网平台服务过程中提供、形成的信息提供给点融网的关联公司及与点融网相关的其他服务提供者，或从点融网的关联公司及与点融网相关的其他服务提供者处获取您在注册、使用相关服务期间提供、形成的信息。
                            </b>
                        </li>
                    </ol>
                </li>
                <li>
                    <h4><span>通知及送达</span></h4>
                    <ol class="counter-ol">
                        <li><p>
                            借款人确认各类文件及/或通知均应以书面形式做出，并可选用邮寄或电子任一方式进行送达。通过邮寄方式送达的，借款人确认其注册平台会员时提交的身份证或企业注册证记载的地址为有效的送达地址；通过电子方式送达的，借款人确认其注册平台会员时预留的传真号、电话号码、电子信箱、微信号码等为有效的送达地址。
                        </li>
                        <li>
                            <b>为便于人民法院诉讼文书及时送达，保证诉讼程序顺利进行，借款人确认本条第1款确定的送达地址（包括注册平台会员时提交的身份证或企业注册证记载的地址，以及注册平台会员时预留的传真号、电话号码、电子信箱、微信号码等）作为非诉阶段和争议进入民事诉讼程序后的各个阶段（包括一审、二审、再审、执行程序）相关法院送达诉讼文书的确认地址，并同意以电子方式送达。如果提供的地址不确切，或不及时告知变更后的地址，使诉讼文书无法送达或未及时送达的，借款人将自行承担由此可能产生的法律后果。</b>

                        </li>
                        <li>
                            文件及/或通知递送在下列日期视为送达：
                            <ol class="third-num-ol">
                                <li>
                                    专人递送的，以专人递送交付对方之日为有效送达；
                                </li>
                                <li>
                                    挂号信或特快专递（付清邮资）递送的，以实际送达之日为有效送达；
                                </li>
                                <li>
                                    电子方式（其中包括传真、短信、邮件及微信类即时沟通工具等）递送的，以发出之时即为有效送达。
                                </li>
                                <li>
                                    各借款人有权在任何时候更改其联系信息，但应按本条约定的送达方式在变更后三个工作日内向点融网送达变更通知。否则借款人应当承担由此造成的送达不能产生的法律风险及责任。
                                </li>
                                <li>
                                    借款人的信息发生重大变动的，借款人应于变动发生后的三个工作日内通知点融网。
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <h4><span>法律</span></h4>
                    <ol class="counter-ol">
                        <li>
                            本协议的签订地及履行地为上海市黄浦区。
                        </li>
                        <li>
                            本协议的签订、履行、终止、解释均适用中华人民共和国法律，因履行本协议所产生的任何纠纷由本协议履行地上海市黄浦区人民法院管辖。
                        </li>
                    </ol>
                </li>
                <li>
                    <h4><span>不可抗力</span></h4>
                    <ol class="counter-ol">
                        <li>

                            一旦本协议因不可抗力致使无法履行或延期履行，任何一方都将可以暂停履行本协议，但应在两个工作日内通知对方并在十五日内提交不可抗力事件的详细情况及有效证据。如果上述不可抗力的影响未能在不可抗力发生之日起三十天内消除，且协议各方未能就本协议协商一致达成变更意见，任何一方有权解除本协议，本协议自一方向其他各方发出终止通知之日起解除。
                        </li>
                        <li>

                            “不可抗力”是指不能合理控制、不可预见或即使预见亦无法避免的事件，该事件使任何一方根据本协议履行其全部或部分义务已不可能。该事件包括但不限于政府行为、政策变化、地震、台风、洪水、火灾或其它天灾、战争或任何其它类似事件。
                        </li>
                        <li>
                            鉴于互联网之特殊性质，不可抗力亦包括下列影响互联网正常运行之情形：黑客攻击；电信部门技术调整导致之重大影响；因政府管制而造成之暂时关闭；病毒侵袭。
                        </li>
                    </ol>
                </li>
                <li>
                    <h4><span>附加条款</span></h4>
                    <ol class="counter-ol">
                        <li>
                            在点融网的某些部分或页面中可能存在除本协议以外的单独的附加服务条 款，当这些条款存在冲突时，在该些部分和页面中附加条款优先适用。
                        </li>
                    </ol>
                </li>
                <li>
                    <h4><span>条款的独立性</span></h4>
                    <ol class="counter-ol">
                        <li>
                            若本协议的部分条款被认定为无效或者无法实施时，本协议中的其他条款仍然有效。
                        </li>
                    </ol>
                </li>
                <li>
                    <h4><span>其他</span></h4>
                    <ol class="counter-ol">
                        <li>

                            本协议采用电子合同方式。借款人使用账户及登录密码登录点融网后，根据点融网的相关规则，在点融网注册页面或其他相关页面通过点击确认或类似方式签署的电子合同即视为借款人本人真实意愿并系为以借款人本人名义签署的协议，具有法律效力。借款人应妥善保管自己的账户密码等账户信息，借款人通过前述方式订立的电子合同对合同各方具有法律约束力，借款人不得以账户及登陆密码等账户信息被盗用或任何其他理由否认已订立的协议的效力或不按照该等协议履行相关义务。
                        </li>
                        <li>
                            本协议自借款人勾选点击之日起生效，除非点融网终止本服务协议或借款人不再符合注册资格，否则本服务协议始终有效。
                        </li>
                        <li>
                            借款人同意以点融网后台记录之协议为生效协议版本。
                        </li>
                        <li>

                            本服务协议不涉及借款人与其他注册用户之间通过点融网发生交易的法律关系及法律纠纷，但借款人在此同意将全面接受和履行与点融网其他注册用户通过点融网网站签订的任何电子法律文本，并承诺按该法律文本享有和/或放弃相应的权利、承担和/或豁免相应的义务。
                        </li>
                        <li>
                            如果本协议中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。
                        </li>
                    </ol>
                </li>
            </ol>
        </section>

        <section>
            <h3 class="center">借款协议</h3>
            <p class="right">协议编号：【】</p>
            <p>借款人姓名/名称：【**】</p>
            <p>点融网ID：【】身份证号码/统一社会信用代码：【】</p>
            <p>出借人 （详见附件一：出借人列表）</p>
            <p>居间服务方： 上海点荣金融信息服务有限责任公司</p>

            <p>签订日：</p>
            <p>签订地： 上海市黄浦区</p>

            <h4>鉴于：</h4>
            <ol>
                <li>
                    1、 居间服务方是一家在中国上海市合法成立并有效存续的有限责任公司，开发并运营 <a href="https://www.dianrong.com">www.dianrong.com</a> 网站及APP（以下简称“点融网平台”或“平台”，本协议中凡提及点融网平台，所指向的权利义务主体均系居间服务方），通过点融网平台为注册用户提供金融信息居间服务。
                </li>
                <li>
                    2、 借款人和出借人均已在点融网平台注册，本协议使用借款人和出借人事先已充分阅读并认可的点融网平台提供的借款协议样本。
                </li>
                <li>
                    3、 借款人具有合法的借款需求，出借人自愿向借款人提供借款。出借人以本协议为依据与借款人形成真实、合法、有效的债权。
                </li>
            </ol>
            <p>借款人和出借人基于平等自愿原则，通过点融网平台就有关借款事项达成如下协议，以兹共守：</p>

            <h4 class="center">第一条 借款基本信息</h4>
            <p>借款开始日： 出借人指定账户划付本协议项下借款之日</p>
            <p>借款到期日：借款期限的最后一日</p>
            <p>借款期限：□7天 □14天 □21天 □28天</p>
            <p>还款方式： 到期一次性还本付息</p>
            <p>还款日： 借款到期日的次日</p>
            <table>
                <tbody>
                <tr class="bxjk-th">
                    <td>借款本金总额</td>
                    <td>借款期限（月）</td>
                    <td>借款开始日</td>
                    <td>借款到期日</td>
                    <td>还款日</td>
                    <td>年利率</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
             
            <h4 class="center">第二条 借款的支付</h4>
            <ol>
                <li>
                    1、
                    出借人在同意向借款人出借相应款项时，一并同意居间服务方在本协议生效时将其账户内等额于本协议项下的借款金额的资金直接划付至借款人指定账户。具体而言，出借人委托并授权点融网平台指定的银行或第三方支付机构将其在指定账户中的借款本金划付至借款人指定的收款账户。银行或第三方支付机构将借款本金划转至借款人指定账户后，即视为借款人已经收到借款款项。
                </li>
                <li>
                    2、 借款人同意在借款成功时按照《点融网借款人费用表》或借款人签署的其他协议所列之标准支付居间服务费及借款人履约互保准备金，并委托居间服务方在借款成功时从借款本金中直接扣除。
                </li>
            </ol>
            <h4 class="center">第三条 担保权益</h4>
            <ol>
                <li>
                    1、如因本协议项下借款设定的担保根据法律法规规定以向相关部门办理登记或备案后方始生效的，出借人特此授权出借人列表中第一位出借人代为签署登记或备案所需法律文件及其补充或修改文件，或按登记部门要求的格式范本签署并提交所需法律文件。同时，出借人同意授权出借人列表中第一位出借人作为其代理人以上述法律文件代为办理相关登记或备案手续，以使担保产生法律效力。该等代理人仅作为相关登记证明文件或备案文件中表面记载的担保权人，担保物权仍由出借人享有，但是出借人明确知晓该等登记或备案手续并不一定可以使得出借人获得担保物权项下的优先受偿权。
                </li>
                <li>
                    2、借款人和出借人同意并确认自愿并不可撤销的接受出借人列表中第一位出借人签署与担保相关的全部法律文件之约束，且出借人列表中第一位出借人受托的行为（包括但不限于持有或保管质押物或保证金等）所产生的法律责任及后果均由相应委托方自行承担。
                </li>
            </ol>
            <h4 class="center">第四条 借款的偿还</h4>
            <ol>
                <li>
                    1、 借款人承诺将按照本协议第一条约定的时间和金额按期足额通过点融网平台履行向出借人的还款义务，并授权居间服务方将其指定账户内的资金直接划付至出借人指定账户以履行偿付义务。
                </li>
                <li>2、 借款人的最后一期还款必须包含全部剩余借款本金、利息、违约金及所有根据本协议产生的其他费用等。
                </li>
                <li>3、
                    如借款人还款不足以偿还本协议项下约定的借款本金、利息、逾期罚息及违约金等借款人应付全部款项的，出借人同意在扣除居间服务费及为实现债权支付的相关费用（包括但不限于第三方催收服务费用、保全费、保全担保费、律师费、调查费、差旅费、公证费、鉴定费、诉讼费及执行费用等）后，各自按照其出借款项的比例收取还款。
                </li>
                <li>4、 出借人同意按照《点融网出借人费用表》所列之标准在借款成功后支付居间服务费及出借人风险互助备用金，并委托居间服务方从借款还款中直接扣除。
                </li>
            </ol>

            <h4 class="center">第五条 债权的转让</h4>
            <ol>
                <li>1、 借款人知晓并同意出借人于本协议履行过程中可能将其享有的债权的全部或部分转让给不特定的第三人，且转让次数无限定。
                </li>
                <li>2、 出借人通过点融网平台转让其全部或部分债权的，出借人委托居间服务方以信件、邮件或短信等任何书面形式通知借款人。本协议双方同意该债权转让自居间服务方受托发送的书面通知发出之日起对借款人发生法律效力。
                </li>
                <li>3、 出借人通过点融网平台将其债权全部或部分转让的，本借款协议项下对应权利一并转让给债权受让人，包括但不限于主张罚息、利息、解除合同等权利。
                </li>
            </ol>

            <h4 class="center">第六条 通知及送达</h4>
            <ol>
                <li>
                    1、本协议各方确认与本协议相关的各类文件及/或通知均应以书面形式做出，并可选用邮寄或电子任一方式进行送达。通过邮寄方式送达的，协议各方确认其注册平台会员时提交的身份证或企业注册证记载的地址为有效的送达地址；通过电子方式送达的，协议各方确认其注册平台会员时预留的传真号、电话号码、电子信箱、微信号码等为有效的送达地址。
                </li>
                <li>
                    2、为便于人民法院诉讼文书及时送达，保证诉讼程序顺利进行，借款人确认本条第1款确定的送达地址（包括其注册平台会员时提交的身份证或企业注册证记载的地址，以及其注册平台会员时预留的传真号、电话号码、电子信箱、微信号码等）作为非诉阶段和争议进入民事诉讼程序后的各个阶段（包括一审、二审、再审、执行程序）相关法院送达诉讼文书的确认地址，并同意以电子方式送达。如果提供的地址不确切，或不及时告知变更后的地址，使诉讼文书无法送达或未及时送达的，借款人将自行承担由此可能产生的法律后果。
                </li>
                <li>
                    3、 文件及/或通知递送在下列日期视为送达：
                    <ol class="subol">
                        <li>1) 专人递送的，以专人递送交付对方之日为有效送达；
                        </li>
                        <li>2) 挂号信或特快专递（付清邮资）递送的，以实际送达之日为有效送达；
                        </li>
                        <li>3) 电子方式（其中包括传真、短信、邮件及微信类即时沟通工具等）递送的，以发出之时即为有效送达。
                        </li>
                    </ol>
                </li>
                <li>4、 本协议各方有权在任何时候更改其联系信息，但应按本协议约定的送达方式在变更后三个工作日内向居间服务方送达变更通知。否则变更方应当承担由此造成的送达不能产生的法律风险及责任。
                </li>
                <li>5、 借款人的信息发生重大变动的，借款人应于变动发生后的三个工作日内通知居间服务方。
                </li>
            </ol>
            <h4 class="center">第七条 提前还款</h4>
            <ol>
                <li>
                    1、
                    除本协议另有约定外，借款人可在借款期间任何时候申请提前偿还全部剩余借款。如借款人通过点融网平台申请提前还款的，点融网平台在收到提前还款申请之日起5个工作日内与借款人确定提前还款的具体情况并通知出借人。
                </li>
                <li>
                    2、
                    除本协议另有约定外，借款人提前偿还借款本金的，应按实际借款期限计收利息。若实际借款期限小于一个自然月的（含一个自然月），则应当按照一个自然月计收利息；若实际借款期限为大于一个自然月的非整数倍的，则扣除自然月的整数倍后的其余天数的借款利息仍应当按天计算。
                </li>
            </ol>

            <h4 class="center">第八条 逾期还款</h4>
            <ol>
                <li>1、
                    借款人应严格履行还款义务，借款人未于本协议约定的还款日前足额还款的，应按照下列公式计算并向出借人支付逾期罚息，直至借款人还清全部本金、利息及罚息之日止。逾期罚息计算期间，逾期本金的正常利息不停止计算。 
                    罚息总额 = 逾期本息总额×对应罚息利率×逾期天数。
                    <table>
                        <tbody>
                        <tr>
                            <td>逾期天数</td>
                            <td>日罚息利率</td>
                        </tr>
                        <tr>
                            <td>自还款日之次日起算</td>
                            <td>千分之一</td>
                        </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    2、
                    若借款人逾期支付任何一期还款，居间服务方即有权将借款人计入黑名单，并通过点融网平台黑名单公示包括借款人姓名、身份证号码、联系方式、及逾期记录等情况。同时，点融网平台有权将借款人的逾期记录通报行业协会或相关合作方，以计入行业协会或其他合作方建立并公示的信用记录以及国家和地方的公民征信系统。因此产生的一切相关法律责任及后果概由借款人自负，与居间服务方无涉。
                </li>
            </ol>

            <h4 class="center">第九条 承诺条款</h4>
            <ol>
                <li>
                    1、 借款人的承诺
                    <ol class="subol">
                        <li>
                            (1) 借款人在此确认并承诺其为具有完全民事权利能力和完全民事行为能力的自然人、法人或其他组织，有权签订并履行本协议或以就签订并履行本协议获得充分、完整、合法、有效的授权。
                        </li>
                        <li>
                            (2)
                            借款人承诺并保证其借款用于真实且合法的融资项目，且向出借人及点融网平台提交的一切文本、图文、个人信息等资料等均为真实、准确、合法、有效，不存在虚假信息或隐瞒。若借款人违反本协议任何约定，平台有权在相关法律法规允许的范围内，根据本协议及有关条款对借款人的信息和资料予以合理的披露。

                        </li>
                        <li>(3)
                            借款人承诺借款用途为：【】。借款人承诺并保证不以任何理由和任何形式将获得的借款用于任何违法活动（包括但不限于赌博、吸毒、贩毒、卖淫嫖娼等），以及前述借款用途之外的其他任何用途（包括但不限于股票投资、房地产、彩票、场外配资、期货合约、结构化产品及其他衍生品等）。借款人违反该承诺的，出借人有权提前收回全部借款，并要求借款人按照本协议约定承担相应责任。借款人若有违法行为的，居间服务方有权立即向公安等司法机关举报。
                        </li>
                        <li>(4)
                            借款人在此确认并承诺其不会虚构、夸大融资项目的真实性、收益前景，不会隐瞒融资项目的瑕疵及风险，不会以歧义性语言或其他欺骗性手段等进行虚假片面宣传或促销等，不会捏造、散布虚假信息或不完整信息损害他人商业信誉，不会通过故意变换身份等任何形式或方法进行欺诈借款。
                        </li>
                        <li>(5)
                            借款人在此保证并承诺其已经真实、准确、完整的提供其在所有网络借贷信息中介机构未偿还的借款信息，并将就该等信息的不时更新及时通知点融网平台。因借款人拒绝提供相关借款信息或隐瞒、遗漏、误报、或未及时告知该等借款信息引致的一切法律后果，均应当由借款人自行承担。
                        </li>
                        <li>(6)
                            借款人在此保证并承诺且其不会同时通过多个网络借贷信息中介机构，或者通过变换项目名称、对项目内容进行非实质性变更等方式，就同一融资项目进行重复融资；亦不得在网络借贷信息中介机构以外的公开场所发布同一融资项目的信息。
                        </li>
                        <li>(7) 借款人在此保证并承诺其已经阅读并了解包括但不限于《网络借贷信息中介机构业务活动管理办法》等在内的相关法律法规，并承诺其不得从事法律法规和网络借贷有关监管规定禁止从事的其他活动。
                        </li>
                        <li>(8)
                            借款人在此确认其知晓并保证，若借款人为自然人的，其在点融网平台举借债务的借款余额上限不超过人民币20万元，在点融网平台以及其他所有网络借贷信息中介机构平台举借债务的合计借款余额上限不超过人民币100万元；若借款人为法人或其他组织的，其在点融网平台举借债务的借款余额上限不超过人民币100万元，在点融网平台以及其他所有网络借贷信息中介机构平台举借债务的合计借款余额上限不超过人民币500万元。
                        <li>(9) 借款人承诺任何发自于其注册时提供的移动电话号码的内容均为本人的真实意思表示。
                        </li>
                    </ol>
                </li>
                <li>
                    2、 出借人的承诺
                    <ol class="subol">
                        <li>
                            (1) 出借人在此确认并承诺其具为具有完全民事权利能力和完全民事行为能力的自然人、法人或其他组织，有权签订并履行本协议或以就签订并履行本协议获得充分、完整、合法、有效的授权。
                        </li>
                        <li>(2)
                            出借人在此承诺并保证：出借人为平台注册用户并在本协议有效期内保持平台注册用户身份，其对本协议所涉的借款具有完全的支配能力，且该等资金为出借人来源合法的自有资金。如果第三人对资金归属、合法性问题发生争议，由出借人自行解决并承担相关责任。在该等争议解决（以取得生效的判决、裁决或行政命令、通知为标志）之前，平台有权根据政府机关、司法机关或仲裁机构出具且生效的法律文件拒绝向出借人支付平台代其领受的相关款项。
                        </li>
                        <li>(3) 出借人在此承诺通过本借款协议所获得的收益自行申报并缴纳税款。
                        </li>
                        <li>(4)
                            出借人在此确认并承诺其具备投资风险意识、风险识别能力、拥有非保本类金融产品投资的经历并熟悉互联网，了解本协议项下融资项目的借贷风险并且确认具有相应的风险认知和承受能力，并且自行承担借贷产生的本息损失。
                        </li>
                        <li>(5) 出借人承诺不会利用点融网平台进行信用卡套现、洗钱、非法集资或其他不正当交易行为，否则应依法独立承担法律责任。
                        </li>
                        <li>(6) 出借人同意并承诺，本协议项下出借人提供的信息均应在提供给本协议其他各方的同时提供给点融网平台。
                        </li>
                        <li>(7) 出借人承诺任何发自于出借人注册时提供的移动电话号码所发送的内容均为本人的真实意思表示。
                        </li>
                    </ol>
                </li>
                <li>
                    3、 法律结果归属
                    <ol class="subol">
                        <li>
                            (1) 本协议各方在此确认并同意，借款人和出借人通过其点融网平台账户和银行账户或第三方支付机构账户采取的行为所产生的法律结果和法律责任归属于双方本身。
                        </li>
                        <li>(2)
                            本协议各方在此确认并同意，出借人和借款人授权和委托平台根据本协议所采取的全部行动和措施的法律结果和法律责任均归属于出借人和借款人本人；除非本协议另有约定外，在任何情形下，点融网平台不是本协议项下任何借款或债务的债务人或需要以其自有资金偿还本协议项下的任何借款或债务的主体。平台亦不是本协议项下担保的担保人或需要以其自有资金承担本协议项下的担保责任的主体。
                        </li>
                        <li>(3)
                            本协议各方在此确认并同意，就点融网平台所公示的交易信息而言，点融网并不是特定交易的参与方，点融网平台仅根据交易参与方提供的信息进行公示，并不对信息本身的真实性、合法性、有效性、准确性进行严格审核。除本协议另有约定外，借款人与出借人之间基于交易产生的任何纠纷，包括但不限于：交易申请、交易确认、投资本金和投资收益支付等纠纷，与点融网平台没有任何法律上或合同上的关联。
                        </li>
                        <li>(4)
                            因借款人未能根据本协议的约定通知或报告包括但不限于任何影响或可能影响出借人权益的重大信息或其他事项而导致出借人的任何直接或间接损失，应当由借款人自行承担，点融网平台均不承担任何法律责任。
                        </li>
                    </ol>
                </li>
            </ol>

            <h4 class="center">第十条 信息的使用与保护</h4>
            <ol>
                <li>
                    1、信息隐藏。各方在此确认，为保护出借人/借款人隐私而对出借人/借款人真实身份在本协议项下的隐藏/部分隐藏，并不对出借人和借款人真实意思的表示、本协议的有效性产生任何影响，各方也不得以此为由拒绝履行本协议。
                </li>
                <li>
                    2、信息披露。在相关法律法规允许的范围内，对于各出借人而言，点融网平台将按照其与出借人之间签订的《点融网注册协议》和《点融网出借人服务协议》（包括前述协议有效修订和补充）使用、披露其各项信息、资料；对于借款人而言，除按照点融网平台与借款人签订的《点融网注册协议》和《点融网借款人服务协议》（包括前述协议有效修订和补充）进行使用、披露外，平台有权按照本协议约定使用、披露借款人信息，包括但不限于配合出借人行使本协议项下各权利，向出借人提供借款人之各项信息、资料。
                </li>
                <li>
                    3、信息保护。出借人和借款人在此承诺妥善保管自己的平台账户信息，并应当自行承担因平台账户的注册用户名和密码丢失、泄露或允许他人使用所产生的后果。通过出借人/借款人平台用户名和密码登陆而在其平台账户下的任何操作均视为由出借人/借款人本人的操作并代表出借人/借款人本人的真实意思表示，且出借人/借款人受该等操作项下签署的各项法律文件之约束，对此出借人、借款人不得以其他任何理由提出抗辩或异议。
                </li>
            </ol>

            <h4 class="center">第十一条 违约责任</h4>
            <ol>
                <li>
                    1、
                    本协议出借人及借款人均应严格履行协议义务，任何一方违约，违约方应承担因违约使对方产生的费用和损失，包括但不限于第三方催收服务费用、保全费、保全担保费、律师费、调查费、差旅费、公证费、鉴定费、诉讼费及执行费用等。
                </li>
                <li>2、 若出现如下任何一种情况，本协议项下的全部借款本息自动提前到期，借款人应立即按照本协议约定清偿本协议项下尚未偿付的全部本金、利息、罚息、违约金及根据本协议产生的其他全部费用：
                    <ol class="subol">
                        <li>1) 借款人信息发生重大变动后的三个工作日内未书面通知居间服务方的；
                        </li>
                        <li>2) 借款人违反本协议项下任何承诺及保证的；
                        </li>
                        <li>3) 借款人因任何原因于本协议约定的首个借款还款日或付息日即发生全部或部分逾期还款或逾期付息的；
                        </li>
                        <li>4) 借款人因任何原因全部或部分逾期支付任何一期还款或利息或任何其他应付款项超过四天的；
                        </li>
                        <li>5) 借款人出现不接听电话并或拒收书面催款通知，或在催收过程中拒绝承认欠款等居间服务方单方认定恶意行为的；
                        </li>
                        <li>6) 借款人被宣告失踪、处于限制民事行为能力或丧失民事行为能力状态、被刑事监禁、或发生重大疾病、重大事故等可能危及本协议项下借款安全的情况；
                        </li>
                        <li>7) 借款人涉及或即将涉及重大诉讼及/或仲裁程序以及其他法律纠纷，足以影响借款人的偿债能力；
                        </li>
                        <li>8) 借款人转移资产，有逃避债务之嫌疑的；以及
                        <li>9)
                            借款人或者担保人的资信情况或还贷款能力出现不利变化（包括但不限于工作调整、收入降低、失业、承担负债、丧失/即将丧失全部或者部分还款来源、社会评价降低等）可能影响其还款或担保能力，或可能致使出借人或居间服务方在本协议项下的权利遭受损失的情况的。
                        </li>
                    </ol>
                </li>
                <li>
                    3、 若借款人逾期90天支付任何一期还款的，借款人还应当按照借款余额的20%支付违约金。
                </li>
                <li>
                    4、 借款人的还款均应按照如下顺序清偿：
                    <ol class="subol">
                        <li>1) 根据本协议产生的除本款（2）-（7）项之外的其他全部费用，包括但不限于居间服务费及本协议约定的为实现债权所支付的全部相关费用；
                        </li>
                        <li>2) 催收中放弃的违约金、罚息及利息；
                        </li>
                        <li>3) 罚息；
                        </li>
                        <li>4) 拖欠的利息；
                        </li>
                        <li>5) 拖欠的本金；
                        </li>
                        <li>6) 正常的利息；
                        <li>7) 正常的本金。</li>
                    </ol>
                </li>
            </ol>

            <h4 class="center">第十二条 债权追索</h4>
            <ol>
                <li>
                    1、
                    为便于通过法律程序集中维护出借人权益，出借人均同意在其权益受到实质损害时（包括但不限于借款人逾期还款、借款人违反本协议约定或承诺、担保方未履行担保义务及/或违反协议约定或承诺、其他责任方违反相关协议约定或法律法规及部门规章之规定使得出借人遭受实质损害等），将本协议项下全部债权无偿且无条件自动转让给居间服务方，由居间服务方统一向责任方（包括但不限于借款人、担保方及其他责任方等）进行追索，并委托居间服务方向责任方发送债权转让通知或其他相关通知材料。居间服务方在追索中发现因责任方失踪或还款能力丧失等原因导致债权的追索不能实现或部分不能实现的，居间服务方有权选择将本协议项下债权经书面通知出借人后重新转让还给出借人。出借人收到居间服务方书面通知后有权自行向责任方进行债权的追索，居间服务方应当配合提供出借人为实现债权所需文件。出借人自行承担债权追索产生的一切费用、法律责任及结果。
                </li>
                <li>
                    2、
                    出借人一致同意，经追索实现的债权款项应当全额支付至居间服务方指定的账户，并在扣除居间服务费及为实现债权支付的相关费用（包括但不限于第三方催收服务费用、保全费、保全担保费、律师费、调查费、差旅费、公证费、鉴定费、诉讼费及执行费用等）后，由居间服务方负责向出借人划付。如经追索实现的债权不足以偿还本协议项下约定的借款本金、利息、逾期罚息及违约金等应付全部款项的，出借人同意在扣除居间服务费及为实现债权支付的相关费用后，各自按照其出借款项的比例收取还款。
                </li>
            </ol>

            <h4 class="center">第十三条 适用法律及争议解决</h4>
            <ol>
                <li>
                    1、 本协议签订地及实际履行地为上海市黄浦区。
                </li>
                <li>
                    2、 本协议的签订、履行、终止、解释均适用中华人民共和国法律，并由协议履行地上海市黄浦区人民法院管辖。
                </li>
            </ol>
            <h4 class="center">第十四条 不可抗力</h4>
            <ol>
                <li>
                    1、
                    一旦本协议因不可抗力致使无法履行或延期履行，任何一方都将可以暂停履行本协议，但应在两个工作日内通知对方并在十五日内提交不可抗力事件的详细情况及有效证据。如果上述不可抗力的影响未能在不可抗力发生之日起三十天内消除，且协议各方未能就本协议协商一致达成变更意见，任何一方有权解除本协议，本协议自一方向其他各方发出终止通知之日起解除。
                </li>
                <li>
                    2、
                    “不可抗力”是指不能合理控制、不可预见或即使预见亦无法避免的事件，该事件使任何一方根据本协议履行其全部或部分义务已不可能。该事件包括但不限于政府行为、政策变化、地震、台风、洪水、火灾或其它天灾、战争或任何其它类似事件。
                </li>
                <li>
                    3、 鉴于互联网之特殊性质，不可抗力亦包括下列影响互联网正常运行之情形：黑客攻击；电信部门技术调整导致之重大影响；因政府管制而造成之暂时关闭；病毒侵袭。
                </li>
            </ol>

            <h4 class="center">第十五条 条款的独立性</h4>
            <p>若本协议的部分条款被认定为无效或者无法实施时，本协议中的其他条款仍然有效。</p>
            <h4 class="center">第十六条 其他</h4>
            <ol>
                <li>
                    1、
                    本协议采用电子合同方式生成，并于本协议项下借款本金划付之日起生效。借款人与出借人均应妥善保管自己的账户密码等账户信息，通过前述方式订立的电子合同对合同各方具有法律约束力，借款人与出借人不得以账户及登陆密码等账户信息被盗用或任何其他理由否认已订立的协议的效力或不按照该等协议履行相关义务。
                </li>
                <li>
                    2、
                    本协议在点融网平台保留存档，协议各方均认可本协议约定的签署方式与电子合同形式以及存档协议的法律效力，并受其约束。各方在此确认并同意以在点融网平台保留存档的协议版本以及与本协议有关的书面文件或电子信息应作为本协议有关事项的终局证明。

                </li>
                <li>
                    3、 本协议与平台公布的其他文件或协议约定不一致的，以本协议约定为准。

                </li>
                <li>
                    4、 受限于相关法律法规的限制与规定及其不时更新和修订，协议各方同意居间服务方根据情况不时对本协议版本进行变更及修改，并同意按照更新版本享有权利并承担义务。
                </li>
            </ol>
            <p class="right">16.12.20</p>
        </section>
        <section>
            <h3 class="center">借款项目发布申请批准通知书</h3>

            <p>借款人（自然人姓名/企业法人名称）：</p>
            <p>借款人证照编号（自然人身份证号/企业法人统一社会信用代码）：</p>

            <p>借款用途：</p>
            <p>借款项目申请编号：</p>
            <p>我们很高兴的通知您，您于【】
                年【】月【】日提交的通过点融网平台（<a href="https://www.dianrong.com">www.dianrong.com</a>，以下简称“点融网”）发布借款项目申请已获批准。您在本通知书上签字确认的行为，即表示您确认并同意以下列借款标准通过点融网发布借款需求，具体需求内容如下：
            </p>
            <p>1. 借款金额：人民币【】元。
            </p>
            <p>2. 借款期限：【1】期，每【】为一期。。
            </p>
            <p>3. 日利率：【】。
            </p>
            <p>4.
                居间服务费：其中包括申请审批费：【】，借款成功后一次性支付，并同意点融网在向借款人指定账户划付借款本金时直接扣取；以及账户管理费：【】，借款成功后一次性支付，借款人同意点融网有权直接在借款人于点融网账户内资金直接扣取。
            </p>
            <p>5. 借款人履约互保准备金：【】，借款成功后一次性支付，并同意点融网在向借款人指定账户划付借款本金时直接扣取。
            </p>
            <p>6. 还款计划：【】
            </p>
            <p>7. 抵押/担保物：【】。
            </p>
            <p>8. 房屋评估费： 【】。
            </p>
            <p>9. 提前还款费用及罚息：详见《借款人注册协议》、《点融网借款人服务协议》及《点融网借款人费用表》。
            </p>
            <p>10. 签约条件：【】。
            <p>11. 其它说明：本通知书有效期限为30天。</p>


            <p>
                借款人及受托人已经亲自仔细阅读了点融网公布的《借款人注册协议》、《点融网借款人服务协议》及《点融网借款人费用表》，同意接受该等文件的全部条款和条件。借款人及受托人已确认为发布借款项目提交的文件及资料的真实性、有效性及合法性。借款人及受托人承担发布借款项目及为项目发布提交的文件及资料的真实性、有效性及合法性产生的一切法律责任及后果。
            </p>
            <p>借款人（盖章/签字）：</p>
            <p>受托人（签字）：</p>
            <p>日期：</p>

            <p>
                借款人承诺，在借款发生后将积极配合点融网进行定期或不定期的贷后管理及贷后检查，包括但不限于根据点融网的要求提供相关公司的销售数据、银行流水记录等资料或者点融网提出的与贷后管理相关的其他事宜。如果借款人及相关公司未能予以配合的，则点融网及平台出借人有权要求借款人提前偿还全部借款。
                为了充分维护出借人的合法权益，借款人同意如违背前述承诺，点融网有权根据借款人与出借人通过点融网以在线签署电子合同的形式签署《借款协议》的约定直接要求借款人将《借款协议》项下的应偿本金、借款利率以及居间服务费等款项偿付至点融网指定银行账户。
            </p>
            <p>本通知所述借款来源于点融网平台注册的出借人。</p>
            <p>借款项目的发布系以您按照签约条件约定提交全部资料及权属证明原件/复印件为前提。</p>
            <p>
                在签署本通知书后获得借款前，如果借款人的信用记录或收入状况等发生明显变化，并有可能导致借款人信用评级或还款能力下降的，借款人应当第一时间通知点融网。点融网有权根据变化情况评估后决定是否变更本通知中借款标准或终止通过点融网发布您申请的借款项目，且不因此承担任何法律责任。
            </p>
            <p style="background: #ffff00;">除本借款项目发布申请批准通知书列明的费用外，如出现任何人或任何机构向您收取额外费用，均非点融网收取且与点融网无关。</p>

            <p class="right">借款人（盖章/签字）：</p>
            <p class="right">受托人（签字）：</p>

            <p class="right">日期：</p>
        </section>
        <section>
            <h3 class="center">承 诺 书</h3>
            <p>
                鉴于：本人【 】，身份证件号码【 】，系上海点荣金融信息服务有限责任公司运营的金融信息服务平台（域名：<a href="https://www.dianrong.com">www.dianrong.com</a>，简称“点融网”）的出借人，注册用户名【
                】。截至本承诺书签署之日，本人注册用户名项下的总资产为【 】。其中，本人通过签署《系统实时匹配交易服务协议》加入借款项目集合项下的出借款项共计人民币【
                】，并享有借款项目集合项下各个借款项目所对应的债权及附属权益。
                又， 本人拟通过点融网平台向点融网平台出借人借款人民币【 】元，借款利率为【】，还款方式为【】，借款期限为【】年【】月【】日至【】年【】月【】日；本人将就前述借款事宜与点融网平台出借人签订编号为【
                】的《借款协议》（具体名称以点融网平台实际生成为准，以下简称“《借款协议》”）。
            </p>
            <p>本人因上述事宜承诺如下：</p>
            <p>一、本人将按照《借款协议》约定的期限和金额按期足额通过点融网平台履行还款义务。</p>
            <p>
                二、本人承诺本人注册用户名【】项下的账户总资产金额将始终大于等于本人签署的《借款协议》项下的全部未偿还款项，且同意以本承诺书签署之日本人注册用户名【】项下的账户总资产为前述《借款协议》项下本人的借款本金、利息、逾期利息、罚息、违约金、损害赔偿金以及为实现债权而发生的所有费用（包括但不限于律师费、公证费、财产保全担保费、评估费、拍卖费等）承担连带保证担保责任。如本人未按《借款协议》约定的期限偿还借款、支付利息或相关费用的，或者出现任何违反《借款协议》约定而被要求提前还款、支付费用等但未能偿还、支付且逾期超过5天（含5天）的，本人同意以本人注册用户名【】项下的账户总资产偿还前述债务。点融网平台可采取包括但不限于冻结账户、限制提现、直接扣划等方式在内的一切手段以确保本人前述承诺的实现。
            </p>
            <p>三、本承诺书是无条件且不可撤销的，本人与任何其他方签订的任何合同、协议均不影响本承诺书的效力。
            </p>
            <p>四、如果本承诺书项下约定的任何事宜发生争议，当事人各方协商解决，协商不成的，各方一致同意向本承诺书签署地法院上海市黄浦区人民法院起诉。
            </p>
            <p class="right">授权人（签字）：</p>

            <p class="right">签发日期： 年 月 日</p>
        </section>
        <section>
            <h3 class="center">系统实时匹配交易服务协议</h3>
            <ol>
                <li>
                    <h4>1. 系统实时匹配交易服务</h4>
                    为满足自身对于通过点融网平台（即 <a href="https://www.dianrong.com">www.dianrong.com</a>网站，由上海点荣金融信息服务有限责任公司运营）发布的借款项目（包含原始借款项目及债权转让项目，以下简称“借款项目”）实时匹配交易的需求，出借人特此确认为其依法享有完整的所有权并完成身份认证的点融网平台出借人注册账户（以下简称“出借人账户”）开通系统实时匹配交易服务功能。
                    系统实时匹配交易服务功能是指系统以出借人账户内可出借资金（其中包括初始本金、借款项目已偿还本金及利息收益，以下统称“可出借资金”）为限，根据出借人自主选择并决定的出借条件，实时搜索通过点融网平台发布的借款项目，并自动完成可出借资金与符合出借人设定的出借条件的借款项目匹配及交易的服务功能。

                </li>
                <li>
                    <h4>2. 系统实时匹配交易服务功能的开通及关闭</h4>
                    在符合本协议约定的前提下，出借人有权随时自主选择开通系统实时匹配交易服务功能，并保有出借人账户下所有出借项目履行完毕或以债权转让方式成功转出后关闭系统实时匹配交易服务功能的权利。

                </li>
                <li>3
                    <h4>. 借款项目集合的加入及退出</h4>
                    出借人经自主选择并决定出借条件后通过系统实时匹配交易服务功能完成与其设定的出借条件相符的借款项目的成功匹配称为借款项目集合（以下简称“项目集合”）。
                    除项目集合内的全部借款项目自然终止外，项目集合加入及退出均以出借人债权转让方式实现。出借人一旦加入项目集合即表示同意与更早加入该项目集合的出借人一同对组成该项目集合的所有借款项目按出借资金比例承担风险。
                    若开通系统实时匹配交易服务功能的出借人通过点融网平台发布借款需求并成功获得借款的，出借人同意设定系统以其所在借款项目集合于前述借款逾期第5天时的实时匹配及交易条件转让其在借款项目集合中等值于其应偿未偿款项总额的全部或部分债权，并用以偿付前述借款。即，如果出借人未按《借款协议》约定的期限足额偿还借款，且逾期超过5天（含5天）的，系统将根据出借人前述设定转让其在借款项目集合中等值于其应偿未偿款项总额的全部或部分债权，并根据《借款协议》约定偿付前述款项。如出借人分别投资于不同借款项目集合的，则出借人特此同意设定系统以最快达成债权转让交易为标准确定借款项目集合的退出顺序。
                    被转让债权的债权受让人以下列规则排列先后顺序：
                    <ol class="subol">
                        <li>
                            1) 出借人申请转让债权时被转让债权对应的项目集合中已存的出借人；

                        </li>
                        <li>2) 出借人申请转让债权时其他项目集合中已存的出借人；</li>
                        <li>3) 出借人申请转让债权时新开通系统实时自动匹配服务功能的出借人。</li>
                    </ol>
                </li>
                <li>
                    <h4>4. 借款项目集合的收益分配</h4>
                    项目集合中的出借人在此不可撤销的确认并同意：各项目集合内包含的全部借款项目的当日实际累计收益所得为各项目集合的可向出借人分配收益（以下简称“项目集合可分配收益”）。各项目集合收益分配方式以各《借款项目集合描述》（以下简称“项目集合描述”）为准。

                </li>
                <li>
                    <h4>5. 出借人风险互助备用金</h4>
                    出于保护共同利益考虑，出借人同意在每个项目集合中开设一个出借人风险互助备用金账户，除非特殊约定，将出借人在这个项目集合中投资获取的超出该项目集合描述中列明的约定分配年化收益的利息归入该账户，具体标准详见《点融网出借人费用表》。出借人特此同意上海点荣金融信息服务有限责任公司为出借人风险互助备用金的管理人，并授权管理人在遵守《出借人风险互助备用金规则》的前提下使用出借人风险互助备用金。另外，管理人有权根据市场及实际情况，对出借人风险互助备用金的计提标准及使用规则进行调整并通过平台公示的形式告知各出借人，无需再取得各出借人的同意。
                </li>
                <li>
                    <h4>6. 借款人履约互保准备金</h4>
                    出于出借人的利益考虑，借款人同意开设一个借款人履约互保准备金账户，并以通过点融网平台获得的借款本金提取的一定比例金额归入前述账户，具体标准详见《点融网借款人费用表》。借款人特此同意上海点荣金融信息服务有限责任公司为借款人履约互保准备金账户的管理人，并授权管理人在遵守《借款人履约互保准备金规则》的前提下使用借款人履约互保准备金。管理人有权根据市场及实际情况，对借款人履约互保准备金的计提标准及使用规则进行调整并通过平台公示的形式告知各借款人，无需再取得各借款人的同意。
                </li>
                <li>
                    <h4>7. 借款项目集合的费用</h4>
                    因通过系统实时匹配交易服务匹配成功的借款项目所产生的居间费用及其他费用等，收费标准将根据具体借款项目涉及的《借款协议》/《债权转让协议》及相关服务协议的约定收取。

                </li>
                <li>
                    <h4>8. 借款项目集合的终止</h4>
                    各项目集合项下的借款项目全部到期且履行完毕时该借款项目集合自然终止。
                    各借款项目集合中全体出借人特此不可撤销的确认并授权点融网平台有权决定是否向项目集合中新增符合出借人自主选择并决定的出借条件的借款项目。

                </li>
                <li>
                    <h4>9. 出借人承诺</h4>
                    出借人点击确认本协议前已仔细阅读本协议，且点融网平台已就本协议及点融网平台的相关风险提示、规则、声明、协议等向出借人作出提示，出借人同意本协议的所有条款及条件，且对前述内容不存在任何疑问。
                    出借人承诺出借人账户资金为合法取得的自有资金，且具有排他性的支配权。
                    出借人承诺其向点融网平台提供的所有信息、资料等均真实、合法、准确、有效。
                    点融网有权追究出借人承诺内容不实导致点融网平台所遭受全部损失的赔偿责任。
                    出借人在遵守本协议的前述承诺的同时，应当同时遵守其与点融网平台之间签订的《点融网注册协议》和《点融网出借人服务协议》以及出借人与借款人和作为居间服务放的点融网平台之间签订的《借款协议》/《债权转让协议》等协议的相关约定并同时承诺该等协议中的所有声明内容，出借人在此同时承诺并确认将根据前述协议的约定履行相应的义务。
                </li>
                <li>
                    <h4>10. 其他</h4>
                    对于点融网所提供的系统实时匹配交易服务，点融网并不是特定交易的参与方，点融网仅根据出借人的选择由系统进行实时匹配，并不对信息本身的真实性、合法性、有效性、准确性进行严格审核。点融网在此声明，出借人之间基于交易产生的任何纠纷与点融网没有任何法律上或合同上的关联，除非相关协议中另有明确约定。
                    如因相关国家机关对出借人采取强制措施而导致出借人账户内资金被全部或部分冻结、划扣，则本规则约定的服务提前终止。
                    由于地震、风暴、水灾或其他自然灾害、瘟疫、战争、暴乱、敌对行动、公共骚乱、公共敌人的行为、政府或公共机关禁止、黑客攻击、计算机病毒发作、银行和电信部门技术调整等不可抗力导致的一方未能按照本协议的约定提供服务的，任何一方均不追究对方责任，但发生不可抗力的一方应采取必要的补救措施以减小不可抗力造成的损失。
                    基于互联网的特殊性，点融网无法保证点融网的服务不会中断，对于包括但不限于点融网及相关第三方的设备、系统存在缺陷，计算机发生故障、遭到病毒、黑客攻击或者发生地震、海啸等不可抗力而造成服务中断或因此给出借人造成的损失，点融网不承担任何责任，有关损失由出借人自己承担。
                    点融网资金相关的服务均由支付机构（包括银行及有资质的第三方支付机构）提供，注册用户应依照支付机构规则进行相关账户的开设和使用，出借人有义务妥善保管支付机构的账户及密码并采取合理的措施保护资产安全，点融网无法保证提供资金相关服务的支付机构的服务内容和质量，亦无法保证出借人与支付机构之间协议事项的无瑕疵执行，如因出借人未能尽到审慎保管义务或支付机构原因造成交易不能实现甚至资产损失，点融网不承担任何责任，由相关责任方承担。
                    若发生国家法律法规变更、政策调整、监管部门的相关规定或指令调整，或者系统实时匹配交易功能性更新，点融网平台有权单方变更本协议内容，并有权宣布系统实时匹配交易功能中止或终止。
                    本规则自出借人于点融网平台勾选点击之日起生效，出借人同意以点融网后台记录之规则为生效版本。
                    点融网对于本规则有最终解释权，如本规则未涉及的其他内容应以点融网平台公布的各个团描述中披露的具体信息为准。
                    因本协议项下的服务引发的任何争议，应友好协商解决；协商不成的，任何一方均有权起诉至上海市黄浦区人民法院。本协议的签订、履行、终止等相关争议均适用中华人民共和国法律法规。
                    若您对以上条款存有任何异议，请立即停止开通申请。若您不同意变更后协议内容，请在满足本协议约定前提下立即关闭实时匹配交易系统功能。
                </li>
            </ol>
            <p class="right">16.12.20</p>

        </section>
    </div>
</div>
<script>
	(function () {
		document.addEventListener('DOMContentLoaded', function () {
			var
				$tabWrapper = document.querySelector('.tabs'),
				$tabs = document.querySelectorAll('.tabs a'),
				$sections = document.querySelectorAll('.main section'),
				state = getIndex($tabs, document.querySelector('.tabs a.active'))

			$tabWrapper.addEventListener('click', function (e) {
				var $tab = e.target
				if ($tab.tagName !== 'A') return

				state = getIndex($tabs, $tab)
				setActiveByIndex(state)
			}, false)

			setActiveByIndex(state)
			function setActiveByIndex(i) {
				removeActive($tabs)
				removeActive($sections)

				$tabs[i].classList.add('active')
				$sections[i].classList.add('active')
			}
		})

		function getIndex(list, item) {
			var state = -1
			for (var i = -1, current; current = list[++i];) {
				if (current === item) return state = i
			}
			return state === -1 ? 0 : state
		}

		function removeActive(list) {
			[].forEach.call(list, function (tab) {tab.classList.remove('active')})
		}
	})()
</script>
</body>
</html>
